.password-recovery {
   &__text {
      display: inline-block;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #2d2e46;
      opacity: 0.5;
      text-align: center;
      padding: 0 20px;
   }
   .email {
      margin-bottom: 10px;
   }
   .forms__submit-form {
      margin: 90px 0 30px;
   }
   &__link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #21268f;
      margin-top: 15px;
   }
}
