.packs_page {
    position: relative;
    min-height: 100vh;

    &__columns {
        display: flex;
        margin: 10px 10px 0;
        border-radius: 8px;
        overflow: hidden;
    }
    &-progress {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    &__bar {
        max-width: 243px;
        width: 100%;
        background: #ececf9;
    }
    &__footer {
        padding: 10px;
        display: flex;
    }
    &__footer-select {
        margin-left: auto;
    }
    .slider-wrapper {
        padding: 10px;
        margin: 0 auto;
        max-width: 200px;
        .MuiSlider-valueLabelOpen {
            background-color: #21268f;
            border-radius: 3px;
            .MuiSlider-valueLabelCircle {
                padding: 2px;
                font-size: 14px;
                line-height: 17px;
                color: #ffffff;
            }
            &::before {
                display: none;
            }
        }
    }
    .profile {
        padding: 10px;
        max-width: 100%;
        display: grid;
        grid-template-areas:
            "B B B B  B B B B  A A A A"
            "C C C C  C C C C  C C C C";
        &__logout {
            grid-area: A;
            background-color: transparent;
        }
        &__img_container {
            grid-area: B;
            border-radius: 10px;
            overflow: hidden;
            margin-right: 10px;
        }
        &__info {
            grid-area: C;
            padding: 10px;
            margin-bottom: 10px;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
        }
        img {
            width: 100%;
        }
        &__edit {
            display: none;
        }
    }
}
.packs-wrapper {
    background: #fefeff;
    padding: 24px 48px;
    width: 100%;
}
