.packs {
    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #2d2e46;
        margin-bottom: 15px;
        font-family: sans-serif;
    }
    .head {
        background: #ececf9;
        &__title {
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #2d2e46;
        }
    }
}

.slider-wrapper {
    .MuiSlider-valueLabelOpen {
        background-color: #21268f;
        border-radius: 3px;
        .MuiSlider-valueLabelCircle {
            padding: 2px;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
        }
        &::before {
            display: none;
        }
    }
}
