.packs_page {
    position: relative;
    min-height: 100vh;

    &__columns {
        display: flex;
        margin: 10px 10px 0;
        border-radius: 8px;
        overflow: hidden;
    }
    &-progress {
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .packs-wrapper {
        background: #fefeff;
        padding: 24px 48px;
        width: 100%;
    }
    &__bar {
        max-width: 243px;
        width: 100%;
        background: #ececf9;
    }
}
