.cards-page {
   .cards {
      position: relative;
      overflow: hidden;
      min-height: 200px;
      background: #fefeff;
      border-radius: 8px;
      padding: 24px;
      &__header {
         position: relative;
         display: flex;
         align-items: center;
         margin-bottom: 20px;
         button {
            min-width: fit-content;
         }
      }
      &__search-settings {
         position: absolute;
         background-color: transparent;
         z-index: -1000;
         top: 20%;
         left: 0;
         opacity: 0;
         transition: all ease-in 0.3s;
         padding: 20px 10px 10px 10px;
         &.open {
            background-color: #fefeff;
            top: 100%;
            z-index: 1000;
            transition: all ease-in 0.3s;
            opacity: 1;
         }
         &_close {
            position: absolute;
            top: 0;
            right: 0;
         }
      }
      &__title-box {
         display: flex;
         align-items: center;
         margin-bottom: 20px;
         button {
            margin-right: 14px;
            color: #2d2e46;
         }
      }
      &__footer {
         padding: 20px 20px 0;
         display: flex;
         align-items: center;
         nav {
            margin-right: 20px;
         }
      }
   }
}
@media screen and (max-width: 760px) {
   .cards-page {
      .cards {
         padding: 10px 5px;
         &__title-box {
            justify-content: center;
         }
      }
   }
}
@media screen and (max-width: 580px) {
   .cards-page {
      .cards {
         padding-bottom: 0;
         &__title-box {
            .MuiButtonBase-root {
               margin-right: 0;
            }
         }
         &__header {
            padding-right: 30px;
            .packs__search {
               padding: 0 10px 0 0;
            }
            .add-new-card {
               display: block;
               background-color: transparent;
               box-shadow: none;
               height: 30px;
               font-size: 0;
               padding: 0;

               &:hover {
                  background: none;
                  box-shadow: none;
               }
               span {
                  content: "";
                  width: 30px;
                  height: 30px;
                  background: url("../../common/assets/addIcon.svg");
                  border-radius: 50%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
               }
            }
         }

         &__footer {
            padding: 5px 0;
            justify-content: center;
            .MuiPagination-root {
               margin: 0 10px 0 0;
               padding: 10px 0;
               button {
                  min-width: 22px;
                  padding: 0;
               }
               .MuiPaginationItem-previousNext {
                  max-width: 20px;
                  min-width: 20px;
               }
               .MuiPaginationItem-firstLast {
                  max-width: 20px;
                  min-width: 20px;
                  margin: 0;
               }
            }
         }
         .MuiFormControl-root {
            .MuiInputBase-root {
               font-size: 12px;
               .MuiSelect-select {
                  padding: 6px 20px 5px 8px !important;
               }
               svg {
                  right: 1px;
               }
            }
         }
      }
   }
}
