.main {
    height: 100vh;
    background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);

    &__columns {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding-right: 5px;
    }
    &__column_login {
        max-width: 400px;
        width: 100%;
    }
    &__column_nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 500px;
        background: url("./bg-main.png");
        box-shadow: 0px 4px 18px rgba(241, 69, 61, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
    }
    &__reg-btn {
        padding: 5px;
        a {
            color: #2d2e46;
            background-color: #f9f9fe;
            padding: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            max-width: 100%;
        }
    }

    &__reg-btn {
        &.base {
            a {
                color: rgba(241, 69, 61, 0.85);
                box-shadow: 0px 4px 18px rgba(241, 69, 61, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
            }
        }
    }
    &__reg-btn {
        &.intervalColor {
            a {
                box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
            }
        }
    }
    .login {
        .email {
            padding: 10px 5px 20px;
            position: relative;
            margin-bottom: 5px;
            &__error {
                position: absolute;
                bottom: 0;
                left: 5px;
                color: #d32f2f;
                text-align: left;
            }
            &.error {
                label {
                    color: rgb(90, 5, 86);
                }
            }
        }
        .password {
            padding: 10px 5px 20px;
            margin-bottom: 5px;
            position: relative;
            &__error {
                position: absolute;
                bottom: 0;
                left: 5px;
                color: #d32f2f;
                text-align: left;
            }
            &.error {
                label {
                    color: rgb(90, 5, 86);
                }
            }
        }
    }
}
