.main {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   &__columns {
      display: flex;
      align-items: center;
      padding-right: 5px;
   }
   &__column-login {
      max-width: 400px;
      width: 100%;
   }
   &__column {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-height: 450px;
      height: 100%;
      background: url("./bg-main.png");
      box-shadow: 0px 4px 18px rgba(241, 69, 61, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
   }
   &__reg-btn {
      padding: 5px;
      a {
         color: #2d2e46;
         background-color: #f9f9fe;
         padding: 10px;
         font-weight: 600;
         font-size: 16px;
         line-height: 19px;
         text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
         border-radius: 30px;
         max-width: 100%;
      }
   }

   &__reg-btn {
      &.base {
         a {
            color: rgba(241, 69, 61, 0.85);
            box-shadow: 0px 4px 18px rgba(241, 69, 61, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
         }
      }
   }
   &__reg-btn {
      &.intervalColor {
         a {
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
         }
      }
   }
   .login {
      .email {
      }
   }
}
