@import "../../PacksPage/PacksBar/packsBar.scss";
.profile-bar {
   @extend .packs-bar;
   &__filter {
      @extend .packs-bar__filter;
   }
}
@media screen and (max-width: 990px) {
   .profile-bar {
      padding: 0;
      grid-template-columns: 1fr 1fr;
      height: fit-content;
      .profile-person {
         max-width: fit-content;
      }
      &__filter-container {
         display: flex;
         justify-content: right;
         padding: 0 30px;
      }
      &__filter {
         max-width: 250px;
      }
   }
}
