.login {
    &__pass-recovery-link {
        background-color: transparent;
        width: fit-content;
        font-size: 14px;
        line-height: 17px;
        color: #2d2e46;
        margin-left: auto;
        margin-top: 25px;
        padding: 7px;
        margin-bottom: 85px;
    }
    &__reg-link {
        margin-top: 31px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #21268f;
        text-align: center;
    }
}
