@import "./Login/login.scss";
.form-progress {
    position: absolute;
    height: 101%;
    width: 101%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgb(46, 47, 72, 0.2);
}
.form {
    background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
    height: 100vh;

    &__container {
        max-width: 450px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__item {
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background: #f9f9fe;
        border-radius: 8px;
        padding: 33px 25px 30px;
    }
    &__title {
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #2d2e46;
    }
    &__buttons {
        display: flex;
        flex-direction: column;
    }
    &__link-pass_recovery {
        background-color: transparent;
        width: fit-content;
        font-size: 14px;
        line-height: 17px;
        color: #2d2e46;
        margin-left: auto;
        margin-top: 25px;
        padding: 7px;
        margin-bottom: 85px;
    }
    &__button-login {
        display: block;
        background: #21268f;
        box-shadow: 0px 4px 18px rgba(33, 38, 143, 0.35), inset 0px 1px 0px rgba(255, 255, 255, 0.3);
        border-radius: 30px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 0.01em;
        color: #ececf9;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
        max-width: 266px;
        width: 100%;
        margin: 0 auto;
        padding: 9px 0;
        margin-bottom: 31px;
        &:disabled {
            opacity: 0.5;
        }
    }
    &__link-info {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        color: #2d2e46;
        opacity: 0.5;
        max-width: 150px;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 11px;
    }
    &__link-registration {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #21268f;
    }
    .email {
        padding: 10px 5px 20px;
        position: relative;
        margin-bottom: 5px;
        &__error {
            position: absolute;
            bottom: 0;
            left: 5px;
            color: #d32f2f;
            text-align: left;
        }
        &.error {
            label {
                color: rgb(90, 5, 86);
            }
        }
    }
    .password {
        padding: 10px 5px 20px;
        margin-bottom: 5px;
        position: relative;
        &__error {
            position: absolute;
            bottom: 0;
            left: 5px;
            color: #d32f2f;
            text-align: left;
        }
        &.error {
            label {
                color: rgb(90, 5, 86);
            }
        }
    }
}
