.form {
    background: linear-gradient(180deg, #e6d4de 0%, #9890c7 100%);
    height: 100vh;
    &__container {
        max-width: 450px;
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .email {
        padding: 10px 5px 20px;
        position: relative;
        margin-bottom: 5px;
        &__error {
            position: absolute;
            bottom: 0;
            left: 5px;
            color: #d32f2f;
            text-align: left;
        }
        &.error {
            label {
                color: rgb(90, 5, 86);
            }
        }
    }
    .password {
        padding: 10px 5px 20px;
        margin-bottom: 5px;
        position: relative;
        &__error {
            position: absolute;
            bottom: 0;
            left: 5px;
            color: #d32f2f;
            text-align: left;
        }
        &.error {
            label {
                color: rgb(90, 5, 86);
            }
        }
    }
}
