.question_block {
  margin-bottom: 10px;
  .title {
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
  }

  .text {
    word-break: break-all;
    font-size: 16px;
    line-height: 18px;
  }
  .image_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image {
    max-width: 100%;
    max-height: 150px;
  }
}
.shots_block {
  margin-top: 15px;
  opacity: 0.5;
  font-size: 15px;
  .shots_title {
    margin-right: 5px;
  }
  .shots_text {
    font-weight: 600;
  }
}
