.edit_mode {
  width: 347px;
  display: flex;
  align-items: flex-end;

  .input {
    width: 100%;
    margin-right: 10px;
  }
}

.view_mode {
  display: flex;
  align-items: center;
  justify-content: center;

  .img {
    margin-left: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
  .title {
    font-weight: 600;
    font-size: 20px;
  }
}
