.list-title {
   font-weight: 600;
   font-size: 22px;
   line-height: 33px;
   color: #2d2e46;
   word-break: break-all;
}
@media screen and (max-width: 990px) {
   .list-title {
      margin: 0 auto;
   }
}
@media screen and (max-width: 580px) {
   .list-title {
      font-size: 18px;
      max-width: 300px;
   }
}
