@import "common/styles/reset";
@import "common/styles/mixins";
.app {
   position: relative;
   background: #f9f9fa;
   min-height: 100vh;
}
.container {
   max-width: 1280px;
   padding: 0 30px;
   margin: 0 auto;
}
